html,
body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* Logo in the navbar */
.navbar-logo {
  max-width: 144px;
  height: auto;
}

/* Banner Section */
.banner {
  position: relative;
  width: 100%;
  height: 72vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner Image */
.baniere_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container_experience {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo styling within the banner */
.logo_CGI {
  width: 70%;
  height: auto;
}

/* Style the navbar */
.navbar {
  background: transparent;
  position: fixed;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  z-index: 1000;
}

/* Change navbar background and link color on scroll */
.navbar.scrolled {
  background: white;
}

.navbar.scrolled .nav-link {
  color: black !important;
}

.nav-link .fa-envelope {
  color: white;
  font-size: 1.5rem;
}

/* Scrolled state - black color for the icon */
.navbar.scrolled .nav-link .fa-envelope {
  color: black !important;
}

.nav-link {
  color: white !important;
  font-weight: 500;
}

.nav-item {
  margin: 0 1vw;
}

.nav-link {
  text-decoration: none;
  position: relative;
  color: inherit;
  transition: color 0.3s;
}

/* Create and style the underline */
.nav-link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}

/* On hover, expand the underline */
.nav-link span:hover::after {
  width: 100%;
}

/* Sticky navbar */
.navbar.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.side-nav {
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.side-nav.open {
  transform: translateX(0);
}

/* Presentation section */
.contenu_presentation {
  padding: 0;
  width: 100%;
  max-height: 1300px;
  display: flex;
  overflow: hidden;
}

.col-md-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-md-5 {
  position: relative;
  flex: 1 1 auto;
}

.presentation_img {
  width: 100%;
  height: 100%;
}

.champText_presentation {
  width: 90%;
  margin-left: 50px;
  padding-right: 50px;
}

.presentation_titre {
  margin-top: 50px;
  position: relative;
}

.presentation_image {
  position: absolute;
  margin-top: -20px;
  left: -80px;
  z-index: -1;
}

h1 {
  display: block;
  margin-left: 60px;
  position: relative;
  z-index: 1;
}

h2 {
  display: block;
  margin-top: -10px;
  margin-left: 65px;
  position: relative;
  z-index: 1;
}

.presentation_btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8vh;
}

.btn_url1,
.btn_url2 {
  background-color: #0021a6;
  color: white;
  border: 2px solid transparent;
  padding: 5px 15px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-weight: 700;
}

.btn_url1 {
  margin-right: 150px;
  margin-bottom: 10px;
}

.btn_url1:hover,
.btn_url2:hover {
  background-color: white;
  color: #0021a6;
  border-color: #0021a6;
}

.section_chiffre a {
  text-decoration: none;
}

.blue-block {
  width: 100vw;
  background-color: #00135e;
  color: white;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  margin: 0;
}

.centered-hr {
  width: 6%;
  margin: auto;
  border: 0;
  border-top: 2px solid #ffffff;
}

.chiffres {
  display: flex;
  flex-wrap: wrap;
}

.chiffre {
  flex: 1 1 calc(33.333%);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_chiffre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.top-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.text_chiffre h1 {
  font-size: 60px;
  margin: 0;
}

.text_chiffre h5 {
  margin: 0;
  font-size: 24px;
}

.text_chiffre h3 {
  margin: 0;
  font-size: 36px;
}

.text_chiffre p {
  margin: 0;
  font-size: 18px;
}

.chiffre img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.section-double-img {
  display: flex;
}

.image-comparison-row {
  display: flex;
  width: 100%;
}

.image-column-left,
.image-column-right {
  position: relative;
  max-width: 50%;
}

.image-left {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.image-column-right {
  max-width: 50%;
}

.image-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  padding: 50px;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 80%;
  height: 80%;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  text-align: center;
}

.overlay-left:hover,
.overlay-right:hover {
  opacity: 0.9;
}

.grey-block {
  width: 100vw;
  background-color: #ededed;
  color: black;
  text-align: center;
  padding: 20px;
}

.link_references,
.link_references:hover {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

.link_references::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: darkblue;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.link_references:hover::after {
  width: 100%;
}

.link_references:hover {
  color: darkblue;
}

/* Style for the list of references */
.ul_references {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

/* Style for each list item */
.ul_references li {
  flex: 1 1 200px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.lien_references {
  display: block;
  overflow: hidden;
}

.lien_references img {
  max-width: 260px;
  height: 20vh;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lien_references {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/* Hover effect to scale up the image */
.lien_references:hover {
  transform: scale(1.1);
}

.footer {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #dfdfdf9e;
  padding: 20px 0;
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.3);
}

.footer-logo {
  max-width: 280px;
  height: auto;
}

.list-unstyled li {
  margin-bottom: 10px;
}

/* Remove underline on links in the footer */
.footer a,
footer a:hover {
  text-decoration: none;
  color: black;
  font-weight: 300;
}
